@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Kanit:wght@500;600&family=Oswald:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,500;1,500;1,700&display=swap');


body {
    font-family: 'Oswald', sans-serif;
}